.block3__title {
  @include title;
  margin-top: 16px;
  @media (min-width: 768px) {
    display: flex;
  }
}
.card2 {
  display: flex;
  margin: 10px 0 0 5px;
  flex-direction: column;

  /* @media (min-width: 768px) {
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
  } */

  &__list {
    display: flex;

    @media (min-width: 768px) {
      flex-direction: row;
      /* row-gap: 10px; */
      /* column-gap: 10px; */
      flex-wrap: wrap;

      column-gap: 16px;
    }
  }
  &__item {
    padding: 16px;
    width: 240px;
    height: 160px;
    border: 1px solid $grayColor;
    border-radius: 10px;
    background-color: white;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  &__link {
    text-decoration: none;
    font-family: 'TT Lakes Medium';
    color: black;
    font-size: 16px;
    display: flex;
    /* flex-direction: column; */
    height: 100%;
  }
  &__button {
    align-self: flex-end;
    margin-top: auto;

    background-color: white;
    width: 40px;
    height: 40px;
    border: 2px solid #ff3e79;
    color: #ff3e79;

    border-radius: 50%;
    margin-left: auto;
    transition: 0.2s ease;

    &:hover {
      color: #fff;
      background-color: #ff3e79;
    }
  }
}
/* .btn-show-more2 {
  display: flex;
  align-self: flex-end;
  margin-top: auto;

  background-color: white;
  width: 40px;
  height: 40px;
  border: 2px solid #ff3e79;
  color: #ff3e79;

  border-radius: 50%;
  margin-left: auto;
  transition: 0.2s ease;

  &:hover {
    color: #fff;
    background-color: #ff3e79;
  }
} */
.btn-show-more2 {
  display: none;
  @media (min-width: 768px) {
    display: block;
    border: none;
    background: transparent;

    font-family: 'TT Lakes Medium';
    font-size: 16px;

    margin: 16px auto 16px 16px;

    &:hover {
      color: $pinkColor;
    }

    &:before {
      content: url('../img/arrow.png');
      display: inline-block;
      width: 24px;
      height: 24px;
    }
  }
}

.btn-show-more2.rotated::before {
  transform: rotate(180deg);
}

.swiper2-pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  @media (min-width: 768px) {
    display: none;
  }
}
.swiper-pagination-bullet {
  opacity: 0.5;
  background: #b5b6bc;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}
.card2__item.hidden {
  @media (min-width: 768px) {
    display: none;
  }
  /* &:nth-child(1) {
    @media (min-width: 1023px) {
      display: flex;
    }
  } */
}
/* .block3 .hidden:nth-child(1) {
  @media (min-width: 1023px) {
    display: flex;
  }
} */
