$borderColor2: #41f6d7;
$textColor2: #7e7e82;

@mixin icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
}

.block1 {
  max-width: 1220px;
  box-sizing: border-box;
  padding-right: 18px;
  &__top {
    /* max-width: 1220px; */
    display: flex;
    flex-direction: row;
    align-items: center;

    &__list {
      max-width: 1220px;
      display: flex;
      gap: 20px;
      flex-direction: row;
      margin-left: auto;
      align-items: center;
      justify-content: center;
      padding-right: 56px;

      display: none;
      @media (min-width: 1440px) {
        display: flex;
        margin-left: 450px;
      }
    }
    &__item {
      font-family: 'TT Lakes Medium';
      font-size: 16px;
    }
    &__title {
      font-family: 'TT Lakes Bold';
      font-size: 28px;

      display: flex;

      margin: 24px 0;

      &:before {
        content: '';
        background-color: $borderColor2;
        border-radius: 0 29px 29px 0;

        width: 5px;
        height: 40px;
        margin-right: 16px;
        margin-left: -1px;
      }
    }
  }

  &__menu {
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;

    margin-bottom: 15px;

    @media (min-width: 1000px) {
      flex-wrap: wrap;
      row-gap: 16px;
    }
  }
}

.menu {
  &__item {
    display: flex;
    list-style-type: none;
    margin: 0 2px;
    flex-shrink: 0;
  }
  &__link {
    color: $textColor2;
    text-decoration: none;
    border: 1px solid trasparent;

    border-radius: 10px;
    padding: 8px 16px;
    &:hover {
      background-color: white;
      border: 1px solid $borderColor2;
    }
  }
}
.hidden {
  display: none;
}
.application-btn {
  border: none;
  @include icon;
}
.checkstatus-btn {
  border: none;
  @include icon;
}

/* .application-text::after {
  content: '';
  width: 40px;
  height: 40px;
  margin-left: 8px;
  background: url('../../img/application.svg') no-repeat center;
  background-size: contain;
}
.status-text::after {
  content: '';
  width: 40px;
  height: 40px;
  margin-left: 8px;
  background: url('../../img/checkstatus.svg') no-repeat center;
  background-size: contain;
}
 */
