$bgColor: #f8f8f8;
$textColor1: #1b1c21;
$textColor2: #7e7e82;
$pinkColor: #ff3e79;
$grayColor: #eaeaea;
$borderColor1: #b8ffec;

@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'TT Lakes Medium';
  src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: normal;
}

@mixin title {
  font-family: 'TT Lakes Regular';
  font-size: 16px;
  text-transform: uppercase;
  color: #7e7e82;
  font-weight: 300;

  background-color: white;

  padding: 16px;

  border-top: 1px solid $borderColor1;
  border-bottom: 1px solid $borderColor1;
}

a {
  text-decoration: none;
}
/* @mixin card1 {
  width: 240px;
  height: 72px;
  border: 1px solid $grayColor;
  border-radius: 10px;
  background-color: white;

  display: flex;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body,
html {
  overflow-x: hidden;
  width: 100%;
  background-color: $bgColor;
}

main {
  background-color: $bgColor;
  @media (min-width: 1440px) {
    max-width: 1440px;
    margin: 0 auto;
  }
}
body {
  @media (min-width: 1440px) {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* main {
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto; */
/* @media (min-width: 1440px) {
    margin-right: 0;
  }
  @media (min-width: 1470px) {
    margin-right: 0%;
  } */

@import './blocks/header-style.scss';
@import './blocks/block1-menu.scss';
@import './blocks/block1-content.scss';
@import './blocks/block2.scss';
@import './blocks/block3.scss';
@import './blocks/block4.scss';
@import './blocks/footer.scss';
@import './blocks/popup1.scss';
@import './blocks/main-content.scss';
@import './blocks/popup2.scss';
@import './blocks/hidden-menu.scss';
